body {
  background-color: rgb(40, 39, 39);
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.is-invalid {
  border: 1px solid red !important;
  box-shadow: none;
}

.text-danger {
  color: red;
  font-size: 0.875rem;
}

.full-height {
  height: 100vh;
}

.form-control {
  border: none;
  border-radius: 0;
  background-color: rgb(40, 39, 39);
  color: white;
}

.form-control:focus {
  box-shadow: none;
  background-color: rgb(40, 39, 39);
  color: white;
}

.form-control::placeholder {
  color: white;
  font-style: italic;
}

.input-group {
  border-bottom: 1px solid white;
  background-color: rgb(40, 39, 39);
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.col-md-6 {
  position: relative;
}

.footer {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}

.input-group-text {
  cursor: pointer;
}

.card-body {
  background-color: rgb(40, 39, 39);
  border: 1px solid rgb(40, 39, 39);
}

.fas {
  font-size: 1rem;
}

.steps .step {
  display: block;
  width: 100%;
  margin-bottom: 35px;
  text-align: center;
}

.steps .step .step-icon-wrap {
  display: block;
  position: relative;
  width: 100%;
  height: 80px;
  text-align: center;
}

.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
  display: block;
  position: absolute;
  top: 50%;
  width: 50%;
  height: 3px;
  margin-top: -1px;
  background-color: white;
  content: "";
  z-index: 1;
}

.steps .step .step-icon-wrap::before {
  left: 0;
}

.steps .step .step-icon-wrap::after {
  right: 0;
}

.steps .step .step-icon {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: rgb(40, 39, 39);
  color: white;
  font-size: 38px;
  line-height: 81px;
  z-index: 5;
}

.steps .step .step-title {
  margin-top: 16px;
  margin-bottom: 0;
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.steps .step:first-child .step-icon-wrap::before {
  display: none;
}

.steps .step:last-child .step-icon-wrap::after {
  display: none;
}

.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
  background-color: grey;
}

.steps .step.completed .step-icon {
  border-color: grey;
  background-color: grey;
  color: #fff;
}

@media (min-width: 576px) {
  .flex-sm-nowrap {
    flex-wrap: nowrap !important;
    background-color: rgb(40, 39, 39);
  }
}

@media (max-width: 576px) {
  .flex-sm-nowrap .step .step-icon-wrap::before,
  .flex-sm-nowrap .step .step-icon-wrap::after {
    display: none;
  }
}

@media (max-width: 768px) {
  .flex-md-nowrap .step .step-icon-wrap::before,
  .flex-md-nowrap .step .step-icon-wrap::after {
    display: none;
  }
}

@media (max-width: 991px) {
  .flex-lg-nowrap .step .step-icon-wrap::before,
  .flex-lg-nowrap .step .step-icon-wrap::after {
    display: none;
  }
}

@media (max-width: 1200px) {
  .flex-xl-nowrap .step .step-icon-wrap::before,
  .flex-xl-nowrap .step .step-icon-wrap::after {
    display: none;
  }
}

.bg-faded,
.bg-secondary {
  background-color: rgb(40, 39, 39) !important;
}

.house-icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.house-icon {
  color: #ececec;
  transition:
    background-color 0.5s ease-out,
    transform 0.4s ease-out;
  padding: 15px;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  position: relative;
}

.house-icon:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.house-icon-container .tooltip-text-upper {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.house-icon-container .tooltip-text-upper::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.house-icon-container:hover .tooltip-text-upper {
  visibility: visible;
  opacity: 1;
}

.password-tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 20px;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(13, 13, 13, 0.96);
  text-align: center;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 100%;
}

.password-tooltip::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: rgba(13, 13, 13, 0.96) transparent transparent transparent;
}

.password-requirements {
  list-style: none;
  padding: 0;
  margin: 0;
}

.password-requirements li {
  display: flex;
  align-items: center;
}

.password-requirements .icon {
  margin-right: 10px;
}

.status-icon {
  width: 20px;
  height: 20px;
}

@keyframes fade-upTooltipPassword {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0px) scale(1);
  }
}

.fade-upTooltipPassword {
  animation: fade-upTooltipPassword 0.7s;
  transform-origin: center;
}

@media (max-width: 1024px) {
  .image-container {
    display: none;
  }

  .form-container {
    width: 100%;
    left: 0;
    right: 0;
  }

  .form-left,
  .form-right {
    transform: translateX(0);
  }

  .form-animate {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .form-animate {
    width: 100%;
    padding: 0 20px;
  }

  .password-tooltip {
    top: -200px;
  }

  .steps .step {
    margin-bottom: 20px;
  }

  .steps .step .step-icon-wrap {
    height: 60px;
  }

  .steps .step .step-icon {
    width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 61px;
  }

  .steps .step .step-title {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .form-animate {
    width: 100%;
    padding: 0 10px;
  }

  .password-tooltip {
    top: -220px;
  }

  .house-icon {
    font-size: 20px;
    padding: 10px;
  }

  .house-icon-container .tooltip-text-upper {
    display: none;
  }

  .steps .step {
    margin-bottom: 15px;
  }

  .steps .step .step-icon-wrap {
    height: 50px;
  }

  .steps .step .step-icon {
    width: 50px;
    height: 50px;
    font-size: 25px;
    line-height: 51px;
  }

  .steps .step .step-title {
    font-size: 10px;
  }

  .arrow-icon {
    display: inline;
  }

  .home-icon {
    display: none;
  }
}
