<body>
  <div class="d-flex flex-column full-height">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div
          class="col-md-6 d-flex justify-content-center align-items-center blur-in"
        >
          <div class="w-75 text-color">
            <div
              class="text-center mb-5 d-flex justify-content-center align-items-center"
            >
              <div class="col-1 text-left house-icon-container">
                <i
                  class="fas fa-arrow-left house-icon arrow-icon"
                  [ngClass]="{ 'disabled-icon': isLoading }"
                  (click)="!isLoading && redirectTo('auth')"
                ></i>
                <span class="tooltip-text-upper">Retour à la connexion</span>
              </div>

              <div class="col-11">
                <h1 *ngIf="step !== 'password'">
                  Confirmation de l'adresse email
                </h1>
                <h1 *ngIf="step === 'password'">
                  Création nouveau mot de passe
                </h1>
              </div>
            </div>

            <div class="container padding-bottom-3x mb-1">
              <div class="card mb-3" style="border: 1px solid rgb(40, 39, 39)">
                <div class="card-body">
                  <div
                    class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x"
                  >
                    <div
                      class="step"
                      [ngClass]="{
                        completed:
                          step === 'confirmationadresse' ||
                          step === 'password' ||
                          step === 'confirmationpassword',
                      }"
                    >
                      <div class="step-icon-wrap">
                        <div class="step-icon"><i class="pe-7s-mail"></i></div>
                      </div>
                      <h4 class="step-title">Adresse Email</h4>
                    </div>

                    <div
                      class="step"
                      [ngClass]="{ completed: step === 'confirmationpassword' }"
                    >
                      <div class="step-icon-wrap">
                        <div class="step-icon"><i class="pe-7s-check"></i></div>
                      </div>
                      <h4 class="step-title">Confirmation</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <form
              *ngIf="step === 'email'"
              [formGroup]="emailFormGroup"
              (ngSubmit)="submitEmail()"
            >
              <div class="form-group position-relative mb-3">
                <div class="input-group" [ngClass]="{ disabled: isLoading }">
                  <input
                    type="email"
                    id="email"
                    placeholder="Adresse mail"
                    formControlName="email"
                    class="form-control"
                  />
                  <span class="input-group-text bg-transparent border-0">
                    <i class="fas fa-envelope text-white"></i>
                  </span>
                </div>
                <div *ngIf="emailFormGroup.get('email')?.touched">
                  <div
                    *ngIf="!emailFormGroup.get('email')?.value"
                    class="text-danger"
                  >
                    <small class="blur-in">L'email est requis.</small>
                  </div>
                  <div
                    *ngIf="
                      emailFormGroup.get('email')?.value &&
                      emailFormGroup.get('email')?.invalid
                    "
                    class="text-danger"
                  >
                    <small class="blur-in"
                      >Le format de l'email est invalide.</small
                    >
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center mt-5">
                <button
                  type="submit"
                  class="button-custom"
                  [ngClass]="{ disabled: isLoading }"
                >
                  <span *ngIf="!isLoading">Suivant</span>
                  <span *ngIf="isLoading">
                    <div
                      class="spinner-border spinner-border-sm text-dark"
                      role="status"
                    ></div>
                  </span>
                </button>
              </div>
              <div *ngIf="errorMessage" class="text-danger errorMessages">
                <small class="blur-in">{{ errorMessage }}</small>
              </div>
            </form>

            <div
              *ngIf="step === 'confirmationadresse'"
              class="text-center blur-in"
            >
              <p class="mt-3">
                <i class="bi bi-info-circle-fill"></i>
                Un email a été envoyé à
                <strong
                  ><em>{{ emailFormGroup.get("email")?.value }}</em></strong
                >. Veuillez vérifier votre boîte de réception et suivre les
                instructions pour confirmer votre adresse email.
              </p>
              <button class="button-custom mt-4" (click)="redirectTo('')">
                Retour à l'acceuil
              </button>
            </div>

            <form
              *ngIf="step === 'password'"
              [formGroup]="passwordFormGroup"
              (ngSubmit)="submitPassword()"
              class="blur-in"
            >
              <div
                class="d-flex align-items-center justify-content-center mb-4"
              >
                <i
                  class="bi bi-key-fill text-white me-2"
                  style="font-size: 1.5rem"
                ></i>
                <p class="text-white mb-0" style="font-style: italic">
                  Veuillez saisir votre nouveau mot de passe
                </p>
              </div>
              <div class="form-group position-relative mb-3">
                <div class="input-group" [ngClass]="{ disabled: isLoading }">
                  <input
                    [type]="isPasswordVisible ? 'text' : 'password'"
                    id="password"
                    placeholder="Nouveau mot de passe"
                    formControlName="password"
                    class="form-control"
                    (focus)="showTooltip = true"
                    (blur)="showTooltip = false"
                  />
                  <span
                    class="input-group-text bg-transparent border-0"
                    (click)="togglePasswordVisibility()"
                  >
                    <i
                      [class.fas]="true"
                      [class.fa-eye]="!isPasswordVisible"
                      [class.fa-eye-slash]="isPasswordVisible"
                      class="text-white"
                    ></i>
                  </span>
                </div>
                <div
                  *ngIf="
                    passwordFormGroup.get('password')?.invalid &&
                    passwordFormGroup.get('password')?.touched
                  "
                  class="text-danger"
                >
                  <small class="blur-in">Le mot de passe est requis.</small>
                </div>
                <div
                  *ngIf="showTooltip"
                  class="password-tooltip fade-upTooltipPassword"
                >
                  <ul class="password-requirements">
                    <li
                      [ngClass]="{
                        'text-success': passwordRequirements.hasLength,
                        'text-danger': !passwordRequirements.hasLength,
                      }"
                    >
                      <span class="icon">
                        <img
                          *ngIf="passwordRequirements.hasLength"
                          src="valider.png"
                          alt="Validé"
                          class="status-icon"
                        />
                        <img
                          *ngIf="!passwordRequirements.hasLength"
                          src="croix.png"
                          alt="Non validé"
                          class="status-icon"
                        />
                      </span>
                      Minimum 8 caractères
                    </li>
                    <li
                      [ngClass]="{
                        'text-success': passwordRequirements.hasUppercase,
                        'text-danger': !passwordRequirements.hasUppercase,
                      }"
                    >
                      <span class="icon">
                        <img
                          *ngIf="passwordRequirements.hasUppercase"
                          src="valider.png"
                          alt="Validé"
                          class="status-icon"
                        />
                        <img
                          *ngIf="!passwordRequirements.hasUppercase"
                          src="croix.png"
                          alt="Non validé"
                          class="status-icon"
                        />
                      </span>
                      Une majuscule
                    </li>
                    <li
                      [ngClass]="{
                        'text-success': passwordRequirements.hasSpecialChar,
                        'text-danger': !passwordRequirements.hasSpecialChar,
                      }"
                    >
                      <span class="icon">
                        <img
                          *ngIf="passwordRequirements.hasSpecialChar"
                          src="valider.png"
                          alt="Validé"
                          class="status-icon"
                        />
                        <img
                          *ngIf="!passwordRequirements.hasSpecialChar"
                          src="croix.png"
                          alt="Non validé"
                          class="status-icon"
                        />
                      </span>
                      Un caractère spécial
                    </li>
                    <li
                      [ngClass]="{
                        'text-success': passwordRequirements.hasNumber,
                        'text-danger': !passwordRequirements.hasNumber,
                      }"
                    >
                      <span class="icon">
                        <img
                          *ngIf="passwordRequirements.hasNumber"
                          src="valider.png"
                          alt="Validé"
                          class="status-icon"
                        />
                        <img
                          *ngIf="!passwordRequirements.hasNumber"
                          src="croix.png"
                          alt="Non validé"
                          class="status-icon"
                        />
                      </span>
                      Un chiffre
                    </li>
                  </ul>
                </div>
              </div>
              <div class="d-flex justify-content-center mt-5">
                <button
                  type="submit"
                  class="button-custom"
                  [ngClass]="{ disabled: isLoading }"
                >
                  Confirmation
                </button>
              </div>
              <div *ngIf="errorMessage" class="text-danger errorMessages">
                <small class="blur-in">{{ errorMessage }}</small>
              </div>
            </form>
            <div
              *ngIf="step === 'confirmationpassword'"
              class="text-center blur-in"
            >
              <div
                class="d-flex align-items-center justify-content-center mb-3"
              >
                <i
                  class="bi bi-shield-check text-success me-2"
                  style="font-size: 2rem"
                ></i>
                <p class="text-success mb-0">
                  <strong
                    >Votre mot de passe a été mis à jour avec succès !</strong
                  >
                </p>
              </div>
              <p class="mt-2" style="font-style: italic">
                Vous pouvez maintenant utiliser votre nouveau mot de passe pour
                vous connecter à votre compte.
              </p>
              <button class="button-custom mt-4" (click)="redirectTo('')">
                Retour l'acceuil
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-6 p-0 image-container full-height blur-in">
          <img src="futur1.png" alt="Image de droite" />
        </div>
      </div>
    </div>
  </div>
</body>
